  div {
          
            width: 150px;
            height: 150px;
        }

        p {
            color: blue;
            font-weight: bold;

        }

        .demo {
            background-color: violet;
        }

        .highlight {
            font-style: italic;
            color: tomato
        }

        #p1 {
            font-family: 'Franklin Gothic Medium';
        }