
th:hover{
    background-color: gray;
}
td:hover{
    background-color:yellow ;
}

li:hover{
    background-color: teal;
}

form{
    text-align: center;
    
}

.ftr{
     background-color: darkslategray;
   
margin: 15px;
margin-left: auto;
margin-right: auto;

    height: 200px;
   
}